PGHOST=ep-autumn-cake-atm8uuyw-pooler.c-9.us-east-1.aws.neon.tech
PGPORT=5432
PGUSER=neondb_owner
PGPASSWORD=sua_senha_aqui
PGDATABASE=neondb
JWT_SECRET=altere-para-uma-chave-longa-e-aleatoria
HOST=127.0.0.1
PORT=8000
